.signUp {
    width: 60%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.signUp table {
    width: 100%;
}

.signUp th, .signUp td {
    padding: 5px;
}

.signUp table input, .signUp table select {
    margin-right: 10px;
    height: 35px;
}

.signUp table input:focus, .signUp table select:focus {
    border: 4px solid #006d94;
}

.buttonDiv {
    margin-top: 20px;
    text-align: center;
}

.buttonDiv button {
    width: 80px;
    height: 39px;
    background: #50c0e9;
    box-sizing: border-box;
    border-radius: 5px;
    border: 0 solid transparent;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}